.heroimage--div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.heroimage--title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    text-transform: uppercase;
    padding: 0.6rem 1.5rem;
    z-index: 10;
}
.heroimage--button{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 3rem;
    padding: 0.6rem 0.9rem;
}
.heroimage--div a {
    z-index: 10 !important;
}