.footer--container {
    background-color: #000;
    color: #ffffff;
    --bs-gutter-x: 0;
}
.footer--container a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: #ffffff !important;
    padding: 1em;
}
.footer--innercontainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1em 1.5em;
}
.footer--logo{
    width: auto;
    height: 6em;
    margin: auto;
}

@media (max-width: 576px) {
    .footer--innercontainer {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .footer--innercontainer {
        width: 100%;
    }
}
@media (max-width: 1400px) { 
    .footer--innercontainer {
        width: 80%;
    }
}